<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/admin/homeAdmin.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
</head>
<body>
<div class="dashboard">
    <aside class="sidebar" sec:authorize="isAuthenticated()">
        <div class="logo">Trang Admin</div>
        <nav>
            <ul>
                <li><a th:href="@{/admin/posts}"><i class="fas fa-newspaper"></i> Danh sách bài báo</a></li>
                <li><a th:href="@{/admin/users}"><i class="fas fa-users"></i> Danh sách người dùng</a></li>
                <li><a th:href="@{#}"><i class="fas fa-cog"></i> Cài đặt </a></li>
                <li>
                    <form sec:authorize="isAuthenticated()" method="post" action="/logout">
                        <button class="login-btn" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="main-content">
        <header class="header">
            <h1>Welcome, Admin</h1>
        </header>

        <section class="cards">
            <div class="card">
                <h2>Danh sách bài viết</h2>
                <p>Quản lý các bài viết</p>
                <a class="btn" th:href="@{/admin/posts}">Xem chi tiết</a>
            </div>

            <div class="card">
                <h2>Danh sách người dùng</h2>
                <p>Quản lý tài khoản của người dùng</p>
                <a class="btn" th:href="@{/admin/users}">Xem chi tiết</a>
            </div>
        </section>
    </main>
</div>
</body>
</html>
